.header {
 background-color: $color-grey-light-2;
 color: $color-primary-dark;
 padding: 2rem 4rem;
 font-size: 2rem;
 font-weight: 700;
 border-top-right-radius: 3px;
 border-top-left-radius: 3px;
 position: relative;

 &__icon-box {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 3rem;
 }
}

.heading__primary {
 text-transform: uppercase;
 color: $color-primary-dark;
 text-align: center;
 //width: 100%;
 font-weight: 900;

  @media (max-width: 56.25em) {
  width: 100%;
 }
 @media (max-width: 37.5em) {
  width: 100%;
 }
 
 //&-main {
  //display: block;
  //font-weight: 900;
  //width: 100;
 //}

 //&-sub {
  //display: block;
  //font-weight: 900;
  //letter-spacing: .6rem;
  //width: 100%;
// }
}

.section__product {
 background-color: #fff;

 &-list {
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 //object-fit: cover;

 &:not(:last-child) {
  margin-bottom: 1rem;
 }
 }

 &-container {
  //width: 25%;
  //display: flex;
  //height: 25rem;
  //overflow: hidden;
  //object-fit: cover;
 }

 &-image {
  width: 25%;
  //display: inline-block;
  //object-fit: cover;

    @media (max-width: 75em) {
  width: 33.33%;
 }

   @media (max-width: 56.25em) {
  width: 50%;
 }

   @media (max-width: 37.55em) {
  width: 100%;
 }
 }
}

.feature__box {
 background-color: rgba($color-grey-light-1, .9);
 box-shadow: 0 2rem 4rem rgba($color-black, .15);
 padding: 0 2.5rem ;
 border-radius: 3rem;
 font-size: 1.5rem;
 text-align: center;

 @media (max-width: 37.5em) {
  padding: 1rem 4rem;
  font-size: 2.5rem;
 }

 &--icon {
  font-size: 6rem;
  margin-top: 5rem;
  display: inline-block;
  background-color: $color-primary-dark;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @media (max-width: 75em) {
  margin-top: 3rem;
 }
 }

 &--text {
  font-weight: 300;
  width: 100%;
 }
}

.btn {
 &:link,
 &:visited {
  color: $color-grey-light-4;
  text-decoration: none;
  background-color: $color-grey-light;
  padding: 1rem 5rem;
  border-radius: .5rem;
  display: inline-block;
  margin-top: 6rem;
 }

 &:hover {
  background-color: rgba($color-grey-light, .9);
 }
}

.heading-secondary {
 font-weight: 400;
}

.footer__list {
 display: flex;
 justify-content: space-between;
}

.footer__item {
 display: inline-block;
 list-style: none;
}

.footer__link {
 text-decoration: none;
 color: $color-grey-light-4;
}

.footer__copyright {
 margin-top: 4rem;
}




