.section-heading {
 background-color: $color-grey-light-1;
 padding: 8rem 12rem;
}

.section-features {
 padding: 4rem 6rem;
 background-color: #fff;
}

.footer {
 background-color: $color-grey-light;
 color: $color-grey-light-4;
 padding: 4rem 6rem;
 font-size: 1.3rem;
}